.vscode/c_cpp_properties.json
.vscode/settings.json
.VSCodeCounter/2023-01-11_19-08-28/details.md
.VSCodeCounter/2023-01-11_19-08-28/diff-details.md
.VSCodeCounter/2023-01-11_19-08-28/diff.csv
.VSCodeCounter/2023-01-11_19-08-28/diff.md
.VSCodeCounter/2023-01-11_19-08-28/diff.txt
.VSCodeCounter/2023-01-11_19-08-28/results.csv
.VSCodeCounter/2023-01-11_19-08-28/results.json
.VSCodeCounter/2023-01-11_19-08-28/results.md
.VSCodeCounter/2023-01-11_19-08-28/results.txt
Menace.exe
MenaceTesting.exe
obj/BishopMovesTest.o
obj/BitBoardUtils.o
obj/Board.o
obj/BoardCheckTest.o
obj/BoardTest.o
obj/Eval.o
obj/EvalTables.o
obj/EvalTest.o
obj/KingMovesTest.o
obj/KnightMovesTest.o
obj/MagicMoves.o
obj/Main.o
obj/MenaceTesting.o
obj/Move.o
obj/MoveGen.o
obj/MoveGenTest.o
obj/MoveOrdering.o
obj/MoveOrderingTest.o
obj/MoveTest.o
obj/Pawn.o
obj/PawnMovesTest.o
obj/PawnTest.o
obj/PerftTest.o
obj/PVTest.o
obj/QueenMovesTest.o
obj/RookMovesTest.o
obj/Search.o
obj/SearchTest.o
obj/SEETest.o
obj/Tables.o
obj/TablesTest.o
obj/TranspositionTableTest.o
obj/TT.o
obj/TypesTest.o
obj/Uci.o
obj/UCITest.o
obj/Utils.o
obj/UtilsTest.o
obj/ZobristKeyTest.o
menace-v020.tgz
