.vscode/c_cpp_properties.json
.vscode/settings.json
.VSCodeCounter/2023-01-11_19-08-28/details.md
.VSCodeCounter/2023-01-11_19-08-28/diff-details.md
.VSCodeCounter/2023-01-11_19-08-28/diff.csv
.VSCodeCounter/2023-01-11_19-08-28/diff.md
.VSCodeCounter/2023-01-11_19-08-28/diff.txt
.VSCodeCounter/2023-01-11_19-08-28/results.csv
.VSCodeCounter/2023-01-11_19-08-28/results.json
.VSCodeCounter/2023-01-11_19-08-28/results.md
.VSCodeCounter/2023-01-11_19-08-28/results.txt
Menace.exe
MenaceTesting.exe
obj/BishopMovesTest.o
obj/BitBoardUtils.o
obj/Board.o
obj/BoardCheckTest.o
obj/BoardTest.o
obj/Eval.o
obj/EvalTables.o
obj/EvalTest.o
obj/KingMovesTest.o
obj/KnightMovesTest.o
obj/MagicMoves.o
obj/Main.o
obj/MenaceTesting.o
obj/Move.o
obj/MoveGen.o
obj/MoveGenTest.o
obj/MoveOrdering.o
obj/MoveOrderingTest.o
obj/MoveTest.o
obj/Pawn.o
obj/PawnMovesTest.o
obj/PawnTest.o
obj/PerftTest.o
obj/PVTest.o
obj/QueenMovesTest.o
obj/RookMovesTest.o
obj/Search.o
obj/SearchTest.o
obj/SEETest.o
obj/Tables.o
obj/TablesTest.o
obj/TranspositionTableTest.o
obj/TT.o
obj/TypesTest.o
obj/Uci.o
obj/UCITest.o
obj/Utils.o
obj/UtilsTest.o
obj/ZobristKeyTest.o
menace-v020.tgz
cov-int/build-cwd.txt
cov-int/build-id.txt
cov-int/build-log.txt
cov-int/build-timings.txt
cov-int/BUILD.metrics.xml
cov-int/security-da-log.txt
cov-int/security-da-timings.txt
cov-int/tu-timings.txt
cov-int/emit/version
cov-int/emit/PAUL-DESKTOP/emit-db
cov-int/emit/PAUL-DESKTOP/emit-db.lock
cov-int/emit/PAUL-DESKTOP/emit-db.write-lock
cov-int/emit/PAUL-DESKTOP/config/configure-log.txt
cov-int/emit/PAUL-DESKTOP/config/92e55e64300933fa38dc9d48a249cae0/configure-log.txt
cov-int/emit/PAUL-DESKTOP/config/92e55e64300933fa38dc9d48a249cae0/coverity_config_created
cov-int/emit/PAUL-DESKTOP/config/92e55e64300933fa38dc9d48a249cae0/coverity_config.xml
cov-int/emit/PAUL-DESKTOP/config/92e55e64300933fa38dc9d48a249cae0/g++-config-0/configure-log.txt
cov-int/emit/PAUL-DESKTOP/config/92e55e64300933fa38dc9d48a249cae0/g++-config-0/coverity_config.xml
cov-int/emit/PAUL-DESKTOP/config/92e55e64300933fa38dc9d48a249cae0/g++-config-0/coverity-compiler-compat.h
cov-int/emit/PAUL-DESKTOP/config/92e55e64300933fa38dc9d48a249cae0/g++-config-0/coverity-macro-compat.h
cov-int/emit/PAUL-DESKTOP/config/92e55e64300933fa38dc9d48a249cae0/g++cc-config-0/configure-log.txt
cov-int/emit/PAUL-DESKTOP/config/92e55e64300933fa38dc9d48a249cae0/g++cc-config-0/coverity_config.xml
cov-int/emit/PAUL-DESKTOP/config/92e55e64300933fa38dc9d48a249cae0/g++cc-config-0/coverity-compiler-compat.h
cov-int/emit/PAUL-DESKTOP/config/92e55e64300933fa38dc9d48a249cae0/g++cc-config-0/coverity-macro-compat.h
cov-int/emit/PAUL-DESKTOP/config/ba4118ddbf5d27ffa70f83128640e799/configure-log.txt
cov-int/emit/PAUL-DESKTOP/config/ba4118ddbf5d27ffa70f83128640e799/coverity_config_created
cov-int/emit/PAUL-DESKTOP/config/ba4118ddbf5d27ffa70f83128640e799/coverity_config.xml
cov-int/emit/PAUL-DESKTOP/config/ba4118ddbf5d27ffa70f83128640e799/g++-config-0/configure-log.txt
cov-int/emit/PAUL-DESKTOP/config/ba4118ddbf5d27ffa70f83128640e799/g++-config-0/coverity_config.xml
cov-int/emit/PAUL-DESKTOP/config/ba4118ddbf5d27ffa70f83128640e799/g++-config-0/coverity-compiler-compat.h
cov-int/emit/PAUL-DESKTOP/config/ba4118ddbf5d27ffa70f83128640e799/g++-config-0/coverity-macro-compat.h
cov-int/emit/PAUL-DESKTOP/config/ba4118ddbf5d27ffa70f83128640e799/g++cc-config-0/configure-log.txt
cov-int/emit/PAUL-DESKTOP/config/ba4118ddbf5d27ffa70f83128640e799/g++cc-config-0/coverity_config.xml
cov-int/emit/PAUL-DESKTOP/config/ba4118ddbf5d27ffa70f83128640e799/g++cc-config-0/coverity-compiler-compat.h
cov-int/emit/PAUL-DESKTOP/config/ba4118ddbf5d27ffa70f83128640e799/g++cc-config-0/coverity-macro-compat.h
cov-int/emit/PAUL-DESKTOP/config/d17f07c3e18cd15bf86c22e8da4a0e8f/configure-log.txt
cov-int/emit/PAUL-DESKTOP/config/d17f07c3e18cd15bf86c22e8da4a0e8f/coverity_config_created
cov-int/emit/PAUL-DESKTOP/config/d17f07c3e18cd15bf86c22e8da4a0e8f/coverity_config.xml
cov-int/emit/PAUL-DESKTOP/config/d17f07c3e18cd15bf86c22e8da4a0e8f/g++-config-0/configure-log.txt
cov-int/emit/PAUL-DESKTOP/config/d17f07c3e18cd15bf86c22e8da4a0e8f/g++-config-0/coverity_config.xml
cov-int/emit/PAUL-DESKTOP/config/d17f07c3e18cd15bf86c22e8da4a0e8f/g++-config-0/coverity-compiler-compat.h
cov-int/emit/PAUL-DESKTOP/config/d17f07c3e18cd15bf86c22e8da4a0e8f/g++-config-0/coverity-macro-compat.h
cov-int/emit/PAUL-DESKTOP/config/d17f07c3e18cd15bf86c22e8da4a0e8f/g++cc-config-0/configure-log.txt
cov-int/emit/PAUL-DESKTOP/config/d17f07c3e18cd15bf86c22e8da4a0e8f/g++cc-config-0/coverity_config.xml
cov-int/emit/PAUL-DESKTOP/config/d17f07c3e18cd15bf86c22e8da4a0e8f/g++cc-config-0/coverity-compiler-compat.h
cov-int/emit/PAUL-DESKTOP/config/d17f07c3e18cd15bf86c22e8da4a0e8f/g++cc-config-0/coverity-macro-compat.h
cov-int/output/version
cov-int/tmp/emit-db-cache
cov-int/tmp/emit-db-cache.lock
